body {
  background-image: radial-gradient(circle farthest-corner at 50% 50%,#424750,#202326);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #0d0f19;
  background-size: cover;
  color: #e7dfdf !important;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  height: 100%;
}
#root .App {
  height: 100%;
}